@model web.Models.Pesem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pesem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naslov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naslov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Album)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dolzina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dolzina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
