@model IEnumerable<web.Models.Pesem>

@{
    ViewData["Title"] = "Pesmi";
}

<h1>Pesmi</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Naslov)</th>
            <th>Album</th>
            <th>Izvajalci</th>
            <th>@Html.DisplayNameFor(model => model.Dolzina)</th>
            <th>@Html.DisplayNameFor(model => model.Ocena)</th>
            @if (User.Identity.IsAuthenticated){
                <th>Dodaj na seznam predvajanja</th>
            }
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Naslov)</td>
            <td>
                <a asp-controller="Album" asp-action="Details" asp-route-id="@item.AlbumID">
                    @item.Album?.Ime
                </a>
            </td>
            <td>
                @if (item.izvajalecPesems != null && item.izvajalecPesems.Any())
                {
                    @foreach (var ip in item.izvajalecPesems)
                    {
                        <a asp-controller="Izvajalec" asp-action="Details" asp-route-id="@ip.IzvajalecID">
                            @ip.izvajalec.Ime
                        </a>
                        @if (ip != item.izvajalecPesems.Last())
                        {
                            <span>, </span>
                        }
                    }
                }
                else
                {
                    <span>No artists available</span>
                }
            </td>
            <td>@($"{item.Dolzina / 60:D2}:{item.Dolzina % 60:D2}")</td>
            <td>@Html.DisplayFor(modelItem => item.Ocena)</td>
            <td>
                @if (User.Identity.IsAuthenticated && ViewBag.Playlists != null)
                {
                    <form asp-controller="Playlist" asp-action="AddSongToPlaylist" method="post">
                        <input type="hidden" name="pesemId" value="@item.ID" />
                        <select name="playlistId" class="form-control">
                            <option value="">Izberi seznamov predvajanja</option>
                            @foreach (var playlist in ViewBag.Playlists as IEnumerable<web.Models.Playlist>)
                            {
                                <option value="@playlist.ID">@playlist.Ime</option>
                            }
                        </select>
                        <button type="submit" class="btn btn-primary mt-1">Dodaj</button>
                    </form>
                }
                else if (User.Identity.IsAuthenticated)
                {
                    <span class="text-muted">Nimate seznam predvajanja</span>
                }
                
            </td>
        </tr>
    }
    </tbody>
</table>
