@model web.Models.Izvajalec

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Ime)</h1>

<div>
    <h5>@Html.DisplayFor(model => model.Opis)</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.poslusalci)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.poslusalci)
        </dd>
    </dl>
</div>

<div>
    <h4>Albumi</h4>
    <hr />
    @if (Model.Albumi != null && Model.Albumi.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Ime albuma</th>
                    <th>Datum izdaje</th>
                    <th>Opis</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var album in Model.Albumi)
                {
                    <tr>
                        <td>
                            <a asp-controller="Album" asp-action="Details" asp-route-id="@album.ID">@album.Ime</a>
                        </td>
                        <td>@album.DatumIzdaje.ToString("dd.MM.yyyy")</td>
                        <td>@album.Opis</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Albumi niso na voljo.</p>
    }
</div>

<div class="mt-4">
    <!--<a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-primary">Edit</a>-->
    <!--<a asp-action="Index" class="btn btn-secondary">Back to List</a>-->
</div>
