@model web.Models.Playlist

@{
    ViewData["Title"] = "Delete";
}

<h1>Izbriši</h1>

<h3>Ali ste prepričani da želite izbrisati ta seznam pradvajanja?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            Datum nastanka
        </dt>
        <dd class = "col-sm-10">
            @Model.DateCreated.ToString("dd.MM.yyyy")
        </dd>
        <dt class = "col-sm-2">
            Datum spremembe
        </dt>
        <dd class = "col-sm-10">
            @Model.DateEdited.ToString("dd.MM.yyyy")
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Izbriši" class="btn btn-danger" /> |
        <a asp-action="Index">Nazaj</a>
    </form>
</div>
