@model web.Models.Playlist

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Ime)</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Opis)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Datum nastanka
        </dt>
        <dd class="col-sm-10">
           @Model.DateCreated.ToString("dd.MM.yyyy")
        </dd>
        <dt class="col-sm-2">
            Datum spremembe
        </dt>
        <dd class="col-sm-10">
            @Model.DateEdited.ToString("dd.MM.yyyy")
        </dd>
        <dt class="col-sm-2">
            Skupaj trajanje
        </dt>
        <dd class="col-sm-10">
            @($"{ViewBag.TotalDuration / 60:D2}:{ViewBag.TotalDuration % 60:D2}") min
        </dd>
    </dl>
</div>

<div>
    <h4>Pesmi</h4>
    <hr />
    @if (Model.playlistSongs != null && Model.playlistSongs.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Song Title</th>
                    <th>Album</th>
                    <th>Duration</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var playlistSong in Model.playlistSongs)
                {
                    <tr>
                        <td>
                            @playlistSong.pesem?.Naslov
                        </td>
                        <td>
                            @playlistSong.pesem?.Album?.Ime
                        </td>
                        <td>
                            @($"{playlistSong.pesem?.Dolzina / 60:D2}:{playlistSong.pesem?.Dolzina % 60:D2}")
                        </td>
                        <td>
                            @playlistSong.pesem?.Ocena
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No songs in this playlist.</p>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Uredi</a> |
    <a asp-action="Index">Nazaj</a>
</div>
