@model IEnumerable<web.Models.Playlist>

@{
    ViewData["Title"] = "Index";
}

<h1>Seznami predvajanja</h1>

<p>
    <a asp-action="Create">Ustvari seznam predvajanja</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                Datum nastanka
            </th>
            <th>
                Datum zadnje spremembe
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">@item.Ime</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @item.DateCreated.ToString("dd.MM.yyyy")
            </td>
            <td>
                @item.DateEdited.ToString("dd.MM.yyyy")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Uredi</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
